<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body class="body-index">
    <%- include('./partials/header') %>

    <section class="container-banner">
        <div class="banner"> </div>
    </section>
    
    <br/>

    <!--MAIN EN EL QUE SE VA A EDITAR LOS USUARIOS YA EXISTENTES-->

    <main class="main-upload-products">
    
        <section class="section-formulario-register">
    
            <form action="/editUser/<%= usuarioAEditar.id %>?_method=PUT" method="POST" class="form-registro" enctype="multipart/form-data">
    
                <p class="iniciar-sesion-tamañano">Editar usuario </p>
                <br>
    
                <div class="control-form">
                    <input type="text" name="usuario" placeholder="" class="control" value= "<%= usuarioAEditar.usuario %>" required>
                </div>
    
                <div class="control-form">
                    <input type="text" name="email" placeholder= "" class="control" value="<%= usuarioAEditar.email %>" required>
                </div>

                <div class="control-form">
                    <input type="text" name="password" placeholder="" class="control" required>
                </div>
    
                <div class="control-form">
                    <input type="text" name="nombre" class="control" placeholder="" value="<%= usuarioAEditar.nombre %>">
                </div>

                <div class="control-form">
                    <input type="text" name="apellido" class="control" placeholder="" value="<%= usuarioAEditar.apellido %>">
                </div>

                <div class="control-form">
                    <input type="text" name="domicilio" class="control" placeholder="" value="<%= usuarioAEditar.domicilio %>">
                </div>

                <div class="control-form">
                    <input type="file" name="avatar" accept=".jpg" placeholder="">
                </div>
       
                <div class="control-form">
                    <button type="submit" class="botton">Editar Usuario</button>
                </div>
            </form>
        </section>
    
    </main>

    <br/>

    <%- include('./partials/footer') %>
    
</body>

</html>