<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body class="body-index">
    <%- include('./partials/header') %>

    <section class="container-banner">
        <div class="banner"> </div>
    </section>
    
    <br/>

    <!--MAIN EN EL QUE SE VAN A AGREGAR LOS PRODUCTOS Y EDITAR LOS YA EXISTENTES-->

    <main class="main-upload-products">
    
        <section class="section-formulario-register">
    
            <form action="/uploadProducts" method="PUT" class="form-registro">
    
                <p class="iniciar-sesion-tamañano">Editar producto </p>
                <br>
    
                <div class="control-form">
                    <input type="text" name="producto" placeholder="<%= prod.modelo %>" class="control" required>
                </div>
    
                <div class="control-form">
                    <input type="text" name="marca" placeholder= "<%= prod.marca %>" class="control" required>
                </div>

                <div class="control-form">
                    <input type="text" name="tipo" placeholder="<%= prod.tipoProducto %>" class="control" required>
                </div>
    
                <div class="control-form">
                    <input type="file" name="avatar" accept=".jpg" placeholder="Imagen del Producto">
                </div>
    
                <div class="control-form">
                    <input type="text" name="precio" class="control" placeholder="Precio Actual: <%= prod.precio %>">
                </div>
                
                <div class="iniciar-sesion-tamañano"> Stock disponible</div>

                <div class="control-form">
                    <select name="stock">
                        <option value="Sí">Sí</option>
                        <option value="No">No</option>
                    </select>
                </div>

                <div class="control-form">
                    <input type="text" name="stock" class="control" placeholder="Stock actual: <%= prod.stockCant %>">
                </div>

                <div class="iniciar-sesion-tamañano"> En Oferta </div>

                <div class="control-form">
                    <select name="stock">
                        <option value="Sí">Sí</option>
                        <option value="No">No</option>
                    </select>
                </div>

                <div class="control-form">
                    <input type="text" name="descuento" class="control" placeholder="Porcentaje de oferta actual: <%= prod.ofertaPorcentaje %>">
                </div>

                <div class="control-form">
                    <input type="text" name="precio" class="control" placeholder="Precio con oferta: <%= prod.precioConOferta %>">
                </div>
    
                <div class="control-form">
                    <input type="text" name="cuotas" placeholder="Cuotas sin Interés" class="control">
                </div>
    
                <div class="control-form">
                    <button type="submit" class="botton">Crear Producto</button>
                </div>
            </form>
        </section>
    
    </main>

    <br/>

    <%- include('./partials/footer') %>
    
</body>

</html>