<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body class="body-index">
    <%- include('./partials/header') %>

    <section class="container-banner">
        <div class="banner"> </div>
    </section>
    
    <br/>

    <!--MAIN EN EL QUE SE VAN A AGREGAR LOS PRODUCTOS Y EDITAR LOS YA EXISTENTES-->

    <main class="main-upload-products">
    
        <section class="section-formulario-register">
    
            <form action="/editProduct/<%= producto.id %>?_method=PUT" method="POST" class="form-registro" enctype="multipart/form-data">
    
                <p class="iniciar-sesion-tamañano">Editar producto </p>
                <br>
    
                <div class="control-form">
                    <input type="text" name="modelo" placeholder="" class="control" value= "<%= producto.modelo %>" required>
                </div>
    
                <div class="control-form">
                    <input type="text" name="marca" placeholder= "" class="control" value="<%= producto.marca.nombreMarca %>" required>
                </div>

                <div class="control-form">
                    <select name="tipoProducto" >
                        <option value="1)Almacenamiento">Almacenamiento</option>
                        <option value="2)Auriculares">Auriculares</option>
                        <option value="3)Cables">Cables</option>
                        <option value="4)Coolers">Coolers</option>
                        <option value="5)Fuentes de poder">Fuentes de poder</option>
                        <option value="6)Gabinetes">Gabinetes</option>
                        <option value="7)Memorias ram">Memorias ram</option>
                        <option value="8)Microfonos">Microfonos</option>
                        <option value="9)Microprocesadores">Microprocesadores</option>
                        <option value="10)Monitores y televisores">Monitores y televisores</option>
                        <option value="11)Motherboards">Motherboards</option>
                        <option value="12)Mouses">Mouses</option>
                        <option value="13)Notebooks">Notebooks</option>
                        <option value="14)Parlantes">Parlantes</option>
                        <option value="15)Placas de video">Placas de video</option>
                        <option value="16)Sillas gamer">Sillas gamer</option>
                        <option value="17)Teclados">Teclados</option>
                        <option value="18)Webcams">Webcams</option>
                    </select>
                </div>
    
                <div class="control-form">
                    <input type="file" name="avatar" accept=".jpg" placeholder="Imagen del Producto">
                </div>
    
                <div class="control-form">
                    <input type="text" name="precio" class="control" placeholder="Precio Actual: <%= producto.precio %>" >
                </div>
                
                <div class="iniciar-sesion-tamañano"> Stock disponible</div>

                <div class="control-form">
                    <select name="stockBooleano">
                        <option value="Si">Sí</option>
                        <option value="No">No</option>
                    </select>
                </div>

                <div class="control-form">
                    <input type="text" name="stockCant" class="control" placeholder="Stock actual: <%= producto.stockCantidad %>" >
                </div>

                <div class="iniciar-sesion-tamañano"> En Oferta </div>

                <div class="control-form">
                    <select name="ofertaBooleano">
                        <option value="Si">Sí</option>
                        <option value="No">No</option>
                    </select>
                </div>

                <div class="control-form">
                    <input type="text" name="ofertaPorcentaje" class="control" placeholder="Porcentaje de oferta actual: <%= producto.ofertaPorcentaje %>" >
                </div>
    
                <div class="control-form">
                    <input type="text" name="especificaciones" class="control" placeholder="Especificaciones: " value="<%= producto.especificaciones %>">
                </div>
    
                <div class="control-form">
                    <button type="submit" class="botton">Editar Producto</button>
                </div>
            </form>
        </section>
    
    </main>

    <br/>

    <%- include('./partials/footer') %>
    
</body>

</html>