<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head') %>

<body class="body-index" >

    <%- include('./partials/header') %>

    <section class="container-banner">
        <div class="banner"> </div>
    </section>


    <div class="plus-button-fixed">
        <i class="fas fa-plus-circle"></i>
        
    </div>
    <br>
    <main class="barra-y-box-productos">
            <section class="barra-lateral">
                <a href="#"><p class="una-palabra-barra-lateral">Arma tu pc</p></a>
                <a href="/"><p class="una-palabra-barra-lateral">Almacenamiento</p></a>
                <a href="#"><p class="una-palabra-barra-lateral">Auriculares</p></a>
                <a href="#"><p class="una-palabra-barra-lateral">Cables</p></a>
                <a href="#"><p class="dos-palabras-barra-lateral">Combo actualizacion</p></a>
                <a href="#"><p class="una-palabra-barra-lateral">Coolers</p></a>
                <a href="#"><p class="una-palabra-barra-lateral">Fuentes de poder</p></a>
                <a href="#"><p class="una-palabra-barra-lateral">Gabinetes</p></a>
                <a href="#"><p class="una-palabra-barra-lateral">Memorias ram</p></a>
                <a href="#"><p class="una-palabra-barra-lateral">Microfonos</p></a>
                <a href="#"><p class="una-palabra-barra-lateral">Microprocesadores</p></a>
                <a href="#"><p class="dos-palabras-barra-lateral">Monitores y televisores</p></a>
                <a href="#"><p class="una-palabra-barra-lateral">Motherboards</p></a>
                <a href="#"><p class="una-palabra-barra-lateral">Mouses</p></a>
                <a href="#"><p class="una-palabra-barra-lateral">Notebooks</p></a>
                <a href="#"><p class="una-palabra-barra-lateral">Parlantes</p></a>
                <a href="#"><p class="una-palabra-barra-lateral">Placas de video</p></a>
                <a href="#"><p class="una-palabra-barra-lateral" >Sillas gamer</p></a>
                <a href="#"><p class="una-palabra-barra-lateral">Teclados</p></a>
                <a href="#"><p class="una-palabra-barra-lateral">Webcams</p></a>
            </section>
           
            <section class="box-productos-main"> 

            <%- include('./partials/partials-index/ofertas') %>

            <%- include('./partials/partials-index/explora') %>


            </section>

    </main>  
    <br>
    <%- include('./partials/footer') %>
    
</body>

</html>