<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head') %>

<body class="body-index" >

    <%- include('./partials/header') %>
   
<main >
    <div >
        <h1 class="Color-Usuario">Perfil:</h1><span><img src="/img/avatars/<%=pUser.avatar%>" alt="avatar de usuario" class="Avatar-Usuario"></span>
    </div>
    <span class="Color-Usuario">Usuario: <%=pUser.usuario%></span>  
    <p class="Color-Usuario" >Email: <%=pUser.email%></p>
    <p class="Color-Usuario">ID de Usuario: <%=pUser.id%></p>
    
    <a href="/editUser/<%= pUser.id %>" class="boton-agregar-comprar-carrito">Editar Usuario</a>
                    <form action="/editUser/delete/<%= pUser.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                        <button type="submit" class="boton-agregar-comprar-carrito">Eliminar Usuario</button>
                    </form> 
</main>  
<br>
<%- include('./partials/footer') %>

</body>

</html>