<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head') %>

<body class="body-index" >

    <%- include('./partials/header') %>
   
    <main class="barra-y-box-productos">
        <section class="section-profile-user">
            <article class="article-profile-user">
                    <div class="container-avatar">
                        <img src="/img/avatars/<%=pUser.avatar%>" alt="avatar de usuario" class="Avatar-Usuario">
                    </div>

                    <p class="Color-Usuario"> Usuario: <%=pUser.usuario%></p> 
                    <p class="Color-Usuario" >Email: <%=pUser.email%></p>
                    <p class="Color-Usuario">Numero de usuario: <%=pUser.id%></p>
                    <div class="formularios-edit-eliminar-profile-user">
                    <a href="/editUser/<%= pUser.id %>" class="boton-agregar-comprar-carrito">Editar Usuario</a>

                    <form action="/editUser/delete/<%= pUser.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                        <button type="submit" class="boton-agregar-comprar-carrito">Eliminar Usuario</button>
                    </form>
                    </div>
            </article> 
        </section>

        <section>
                

        </section>


    </main>  
<br>
<%- include('./partials/footer') %>

</body>

</html>