<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head') %>

<body class="body-index" >

    <%- include('./partials/header') %>
   
    
    <section class="container-banner">
        <div class="banner"> </div>
    </section>
<main>
    <span class="Color-Usuario">Hola</span>
    <span class="Color-Usuario">usuario <%=pUser.usuario%>, </span>  
    <span class="Color-Usuario"> Su Email registrado es: <%=pUser.email%>. </span> 
    <div >
    <span class="Color-Usuario">ID de Usuario: <%=pUser.id%>. </span>
    </div >
    <div >
        <h1 class="Color-Usuario">Avatar:</h1><img src="/img/avatars/<%=pUser.avatar%>" alt="avatar de usuario" class="Avatar-Usuario">
    </div>  
</main>  
<br>
<%- include('./partials/footer') %>

</body>

</html>