<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head') %>

<body class="body-index" >

    <%- include('./partials/header') %>
   
    <main class="barra-y-box-productos-profile">
        <section class="section-profile-user">
            <article class="article-profile-user">
                    <div class="container-avatar">
                        <img src="/img/avatars/<%=pUser.avatar%>" alt="avatar de usuario" class="Avatar-Usuario">
                    </div>

                    <p class="Color-Usuario"> Usuario: <%=pUser.usuario%></p> 
                    <p class="Color-Usuario" >Email: <%=pUser.email%></p>
                    <p class="Color-Usuario">Numero de usuario: <%=pUser.id%></p>
                    <p class="Color-Usuario">Tipo de usuario: <%=pUser.id_categoria%></p>
                    <div class="formularios-edit-eliminar-profile-user">
                    <a href="/editUser/<%= pUser.id %>" class="boton-agregar-comprar-carrito">Editar Usuario</a>

                    <form action="/editUser/delete/<%= pUser.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                        <button type="submit" class="boton-agregar-comprar-carrito">Eliminar Usuario</button>
                    </form>
                    </div>
            </article> 
        </section>

        <% if (pUser.id_categoria ==1 ) { %>
         
        
        <section class="section-admin-user">
            
            <article class="admin-panel">
                <h1 class="admin-panel-h1">Admin panel</h1>
                <div class="container-table"> 
                    <table class="table-admin" >
                        <thead>
                            <tr>
                                <th>id </th> <th>user </th> <th>email</th> <th>nombre </th> <th>apellido </th>
                            </tr>
                        </thead>

                        <% for( let i = 0; i < users.length; i++ ) { %>
                            <tr>
                                <td> <%= users[i].id %> </td>
                                <td><%= users[i].usuario %></td> 
                                <td><%= users[i].email %></td> 
                                <td><%= users[i].nombre %></td> 
                                <td><%= users[i].apellido %></td> 
                                <td><a href="/editUser/<%= users[i].id %>">Editar</a></td>
                                <td>
                                <form action="/editUser/delete/<%= users[i].id %>?_method=DELETE" method="POST" style="display: inline-flex">
                                    <button type="submit" class="boton-agregar-comprar-carrito">Eliminar</button>
                                </form>
                                </td>
                              
                                <% if (users[i].id_categoria == 1) { %>
                                    <td>
                                        <form action="/editUser/removeadmin/<%= users[i].id %>?_method=DELETE" method="POST" style="display: inline-flex">
                                            <button type="submit" class="boton-agregar-comprar-carrito">Rem-admin</button>
                                        </form>
    
                                    </td>
                                <% }else { %>
                                <td>
                                    <form action="/editUser/giveadmin/<%= users[i].id %>?_method=DELETE" method="POST" style="display: inline-flex">
                                        <button type="submit" class="boton-agregar-comprar-carrito">Admin</button>
                                    </form>

                                </td>

                            </tr>
                                <% } %>
                        <% } %>


                    
                    </table>
                </div>

            </article>

            
            <a href="/uploadProducts" class="boton-agregar-comprar-carrito">Agregar producto</a>
        

        </section>

        <% } %>

    </main>  
<br>
<%- include('./partials/footer') %>

</body>

</html>