<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

<body class="body-productCart">
    
    <%- include('./partials/header') %>
    
    <section class="container-banner">
        <div class="banner"> </div>
    </section>

    <main class="main-productCart">
        <div class="mi-compra">
            <h1>Mi compra</h1>
        </div>

        <section class="box-compra">

            <section class="Productos">

                <%- include('./partials/partialCarrito') %>
                <!--Llama al partial carrito que tiene la lista de productos-->

            </section> 



            <section class="box-right-bar-pago">  
                <section class="box-pago">

                    <div class="metodo-pago">                                   <!--Boton select metodo pago-->
                        <p class="select">Metodo de pago:</p> 
                        <select class="select-button"name="select">
                            <option value="Efectivo" selected>Efectivo</option>
                            <option value="Tarjeta de credito">Tarjeta de credito</option>
                            <option value="Tarjeta de debito">Tarjeta de debito</option>
                            <option value="Mercadopago">Mercadopago</option>
                            <option value="Brubank">Brubank</option>
                            <option value="Metamask">Metamask</option>
                            <option value="Binance">Binance</option>
                        </select>
                    </div>

                    <div class="forma-de-envio">  
                            <p class="select">Forma de envio</p>
                            <select class="select-button" name="select">
                                <option value="Envio a domicilio">Envio a domicilio</option>
                                <option value="Retiro por el local">Retiro por el local</option>
                            </select>                      
                    </div>

                    <div class="total-precio">
                        <p>Total a pagar</p>
                        <p class="total-precio-num"><%= user.totalApagar%> $</p>
                    </div>

                    <div class="boton-comprar">
                        <button type="button" class="boton-productCart"> Confirmar compra <i class="far fa-check-circle"></i></button>
                    </div>
                </section>
             </section>
          
        </section>

    </main>
<br>
<%- include('./partials/footer') %>

</body>
</html>