<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head') %>

<body class="body-index" >

    <%- include('./partials/header') %>

    <section class="container-banner">
        <div class="banner"> </div>
    </section>


    <div class="plus-button-fixed">
        <i class="fas fa-plus-circle"></i>
        
    </div>
    <br>
    <main class="barra-y-box-productos">
        <section class="barra-lateral">
            <a href="#"><p class="una-palabra-barra-lateral">Arma tu pc</p></a>
            <a href="/products/categories/?categoria=Almacenamiento"><p class="una-palabra-barra-lateral">Almacenamiento</p></a>
            <a href="/products/categories/?categoria=Auriculares"><p class="una-palabra-barra-lateral">Auriculares</p></a>
            <a href="/products/categories/?categoria=Cables"><p class="una-palabra-barra-lateral">Cables</p></a>
            <a href="#"><p class="dos-palabras-barra-lateral">Combo actualizacion</p></a>
            <a href="/products/categories/?categoria=Coolers"><p class="una-palabra-barra-lateral">Coolers</p></a>
            <a href="/products/categories/?categoria=Fuentes de poder"><p class="una-palabra-barra-lateral">Fuentes de poder</p></a>
            <a href="/products/categories/?categoria=Gabinetes"><p class="una-palabra-barra-lateral">Gabinetes</p></a>
            <a href="/products/categories/?categoria=Memorias Ram"><p class="una-palabra-barra-lateral">Memorias ram</p></a>
            <a href="/products/categories/?categoria=Microfonos"><p class="una-palabra-barra-lateral">Microfonos</p></a>
            <a href="/products/categories/?categoria=Microprocesadores"><p class="una-palabra-barra-lateral">Microprocesadores</p></a>
            <a href="/products/categories/?categoria=Monitores y televisores"><p class="dos-palabras-barra-lateral">Monitores y televisores</p></a>
            <a href="/products/categories/?categoria=Motherboards"><p class="una-palabra-barra-lateral">Motherboards</p></a>
            <a href="/products/categories/?categoria=Mouses"><p class="una-palabra-barra-lateral">Mouses</p></a>
            <a href="/products/categories/?categoria=Notebooks"><p class="una-palabra-barra-lateral">Notebooks</p></a>
            <a href="/products/categories/?categoria=Parlantes"><p class="una-palabra-barra-lateral">Parlantes</p></a>
            <a href="/products/categories/?categoria=Placas de video"><p class="una-palabra-barra-lateral">Placas de video</p></a>
            <a href="/products/categories/?categoria=Sillas gamer"><p class="una-palabra-barra-lateral" >Sillas gamer</p></a>
            <a href="/products/categories/?categoria=Teclados"><p class="una-palabra-barra-lateral">Teclados</p></a>
            <a href="/products/categories/?categoria=Webcams"><p class="una-palabra-barra-lateral">Webcams</p></a>
        </section>

            <section class="box-productos-main">
                <h1 class="main-h1"> Todos los productos </h1>
                <section class="fila-productos">
                    <% for( let index = 0; index < prod.length; index++ ) { %>
                    
                        <article class="producto-individual">

                            <a href="../../productDetail/<%= prod[index].id %>">
                                
                                <div><img class="img-producto" src=/img/<%= prod[index].img %> ></div>
                                
                                <div class="descripcion-producto-main">
                                    <p class="precio"> <%= prod[index].precio %> $</p>
                                    <p class="descuento"> <%= prod[index].ofertaPorcentaje %> % off</p>
                                    <p class="descripcion"> <%= prod[index].modelo %> <%= prod[index].marca.nombreMarca %></p>
                                </div>
                            
                            </a>
                        
                        </article>
                    <% } %>
                </section>
            </section>

    </main>  
    <br>
    <%- include('./partials/footer') %>
    
</body>

</html>