<h1 class="main-h1">Explorá</h1>

<section class="fila-productos">
    <%# -------------------------------- %>
 <% let repetido=true;
 let randomize;
 let arrayTest=[];
 let found; %> 
<%for (let i = 0; i <8; i++) {  %> 
    <% 
        while (repetido==true){
            randomize=Math.floor(Math.random() * prod.length) + 0; 
            found = arrayTest.find( element => element == randomize);
        
            if (found == undefined){  
                arrayTest.push(randomize)
                repetido=false;
            }
        }
    %> <%# randomize guarda el valor aleatorio, para la muestra de articulos en explora %>
    <%# Seccion de codigo para el randomize %>


    <article class="producto-individual">

        <a href="../../productDetail/<%= prod[randomize].id %>">
            
            <div><img class="img-producto" src="/img/<%=prod[randomize].img %> "></div>
            
            <div class="descripcion-producto-main">
                
                <% if (prod[randomize].oferta){%> 
                    <p class="precio"> <%=prod[randomize].precioConOferta %>$</p>
                    <p class="descuento"> <%=prod[randomize].ofertaPorcentaje %>% off</p>
                    <p class="descripcion"> <%=prod[randomize].marca.nombreMarca %> <%=prod[randomize].id_modelo %></p>
                <% } 
                else { %>
                    <p class="precio"> <%=prod[randomize].precio %>$</p>
                    <p class="descripcion"> <%=prod[randomize].marca.nombreMarca %> <%=prod[randomize].id_modelo %></p>
                    
                <% } %>
                
            </div>

         </a>

    </article>  
 
    <% repetido=true %> 

<% }%> 

</section>
